@media (max-width:1320px){
    .mid-content {
        max-width: 100%;
        padding: 0 25px;
        box-sizing: border-box;
    }
    .p-content ul li {
        font-size: 19px;
    }
}
@media (max-width:1040px){
    .logo img {
        height: 48px;
    }
    .logo span {
        font-size: 24px;
    }
    .header-logo {
        width: 26%;
    }
    .header-menu {
        width: 60%;
    }
    .header-btn {
        padding: 10px 15px;
    }
    .banner-content h2 {
        font-size: 45px;
   
    }
    .default-btn {
        padding: 17px 25px;
    }
    .section-title h1 {
        font-size: 39px;
    }
    .section-title h2 {
        font-size: 37px;
    }
    .section-title p {
        font-size: 19px;

    }
    .team-section .section-title h2 {
        font-size: 30px;
    }
    .section-title.newslatter-title h2 {
        font-size: 33px;
    }
    .submit-btn {
        font-size: 17px;
        padding: 13px 48px;
    }
    .default-input {
        width: 234px;
        padding: 12px 10px;
      
    }
    .b-hading h2 {
        font-size: 38px;
    }
    .section-title.newslatter-title h2 {
        font-size: 28px;
    }
    .video-content-right h3 {
        font-size: 41px;
    }
    .pricing-table-item {
        width: 100%;
        margin-bottom: 10px;
    }
}
@media (max-width:992px){
    .logo img {
        float: none;
        vertical-align: middle;
    }
    .header-logo {
        width: 100%;
        text-align: center;
    }
    .primary-menu ul li a {
        padding: 0 15px;
    }
    .header-menu {
        width: 85%;
    }
    .video-left {
        width: 100%;
    }
    .video-content-right {
        width: 100%;
    }
    .service-box {
        width: 48%;
       
    }
    .service-box:nth-child(3n+3) {
        margin-right: 2%;
    }
    .member {
        width: 48%;
        margin-bottom: 13px;
    }
    .content-left-map {
        width: 100%;
    }
    .content-right-form {
        width: 100%;
        margin-top: 25px;
    }
    .blog-post-item {
        width: 100%;
        margin-bottom: 12px;
    }
}
@media (max-width:825px){
   
    .header-btn {
        padding: 8px 10px;
    }
    .opens {
        display: inline-block;
        margin-top: 20px;
        font-size: 25px;
    }
    .i-item {
        width: 100%;
        margin-bottom: 25px;
    }
    #text-1{
        display: none;
    }
    .primary-menu ul{
        position: fixed;
        top: 0;
        right: 0;
        background: #ddd;
        width: 22%;
        height: 100%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
        transform: scaleX(0);
        transform-origin: right;
    }
    .primary-menu #text-1:checked ~ ul{
        display: block;
        opacity: 1;
        visibility: visible;
        transform: scaleX(1);
    }
    
    
}
@media (max-width:768px){
    .header-btn {
        padding: 8px 8px;
    }
}

@media (max-width:720px){
    .header-btn {
        display: none;
    }
  
}
@media (max-width:576px){
    .member {
        width: 100%;
    }
    .banner-content h2 {
        font-size: 34px;
    }
    .banner-content h3 {
        font-size: 20px;
    }
    .default-btn {
        padding: 7px 10px;
    }
    .video-content-right h3 {
        font-size: 30px;
    }
    .section-title h1 {
        font-size: 26px;
    }
    .service-box {
        width: 100%;
        margin-bottom: 10px;
    }
    .section-title h2 {
        font-size: 30px;
    }
    .section-title p {
        font-size: 16px;
    }
    .p-heading h4 {
        font-size: 20px;
    }
    .p-heading h1 {
        font-size: 45px;
    }
    .p-heading h5 {
        font-size: 18px;
    }
    .p-heading p {
        font-size: 17px;
    }
    .p-content ul li span {
        font-size: 30px;
    }
    .team-section .section-title h2 {
        font-size: 25px;
    }
    .member {
        width: 60%;
        margin: 80px 80px;
    }
    .submit-btn {
        font-size: 14px;
        padding: 10px 15px;
    }
    .default-input {
        width: 123px;
        padding: 12px 10px;
        font-size: 15px;
    }
}
@media (max-width:400px){
    .default-btn {
        padding: 15px 0px;
        width: 100%;
        margin-top: 15px;
    }
    .video-content-right h3 {
        font-size: 18px;
    }
    .section-title h1 {
        font-size: 19px;
    }
    .section-title h2 {
        font-size: 19px;
    }
    .section-title p {
        font-size: 14px;
    }
    .p-content ul li span {
        font-size: 23px;
    }
    .p-content ul li {
        font-size: 12px;
    }
    .default-btn {
        padding: 11px 0px;
        width: 80%;
        font-size: 15px;
    }
    .team-section .section-title h2 {
        font-size: 19px;
    }
    .member-bio h4 {
        font-size: 20px;
    }
    .member-bio p {
        color: #767676;
        font-size: 15px;
    }
    .section-title.newslatter-title h2 {
        font-size: 22px;
    }
    .b-hading h2 {
        font-size: 19px;
    }
    .bt-content p {
        font-size: 13px;
        
    }
    .blog-post-content h3 {
        font-size: 15px;
    }
    .blog-post-content p {
        font-size: 12px;
       
    }
    .section-title.newslatter-title h2 {
        font-size: 16px;
    }
    .t-content p {
        font-size: 13px;
    }
    .t-user-bio h4 {
        font-size: 15px;
    }
    .t-user-bio span {
        font-size: 15px;
    }
    .t-user-img img {
        width: 50px;
        margin-right: 13px;
        height: 50px;
        margin-top: 10px;
    }
    .content-right-form p {
        font-size: 13px;
    }
    .content-right-form h4 {
        font-size: 20px;
    }
    .footer p {
        font-size: 12px;
    }